.about-container{
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}
.about-image{
    width: 100%;
}
.about-text-container{
    width: 30%;
}
.image-container{
    width: 60%;
    margin-top: 20px;
}
h1{
    display: flex;
    justify-content: center;
}
