.about-image{
    width: 50%;
}
h1{
    display: flex;
    justify-content: center;
}
.about-container{
    display: grid;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}
.image-container{
    display: flex;
    justify-content: center;
}
.about-text-container{
    display: grid;

    letter-spacing: 1px;
    font-weight: 500;
}